.cattitle {
    font-size: 1.3em;
}

.search-options {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 2px 4px -1px #999;
    -moz-box-shadow: 1px 2px 4px -1px #999;
    box-shadow: 1px 2px 4px -1px #999;
    background-color: #eee;
    margin-top: -0.5em;
    padding: 0 1em .1em;
    position: relative;
    z-index: 2;
}

@media only screen and (min-width: 840px) {
    .search-options {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        background-color: #FFF;
        border: 0;
        display: block;
        margin: 0;
        padding: 0;
        width: 100%;
    }
}

@media only screen and (min-width: 840px) {
    .search-options {
        padding-bottom: 10em;
    }
}

