.home-wrapper {
  margin: 0 auto;
  width: 100%;
}

@media (min-width: 750px) {
  .home-wrapper {
    padding: 16px 0 1em 0;
    width: 980px;
    height: 100vh;
  }
}

.home-wrapper #logo {
	font-size: 235%;
    line-height: 135%;
    font-weight: 500;
    font-family: "Times New Roman",Times,serif;
    width: 100%;
}

.home-wrapper ul {
	margin-bottom: 0;
}

#topban {
	background-color: transparent;
    clear: none;
    display: block;
    float: left;
    margin: 0 15.8% 0 0;
    padding: 0;
    font-weight: normal;
    position: relative;
    text-align: center;
    width: 62%;
}

@media (min-width: 750px) {
	#topban {
		float: right;
		background-color: #eee;
	    border-top: 1px #ccc solid;
	    border-bottom: 1px #ccc solid;
	}
}

#leftbar {
    background: #f4f4f4;
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    float: left;
    min-width: 10em;
    margin: 0;
    min-height: 860px;
    text-align: center;
    width: 20%;
}

#rightbar {
	background: #f4f4f4;
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    float: left;
    font-size: 90%;
    min-width: 8em;
    margin-top: -3em;
    min-height: 850px;
    padding: 5px 0;
    text-align: center;
    vertical-align: top;
    width: 11%;
}

#rightbar ul {
	margin: auto;
}
.home-wrapper #center {
    float: left;
    margin: 2%;
    padding: 0;
    width: 62%;
}

.home-wrapper #topban {
    display: inline-block;
    font-family: "Times New Roman",Times,serif;
    font-size: 1.5em;
    line-height: 1.7em;
}