.app-wrapper {
  margin: 0 auto;
  width: 100%;
}
input:hover {
  border-color: #999;
}

input.flatinput {
  height: 30px;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 0;
  padding: 2px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

button.dirty {
  background-color: yellow;
}

ul.postlks {
  margin-top: 17px;
  margin-bottom: 17px;
}

.postlks li {
  text-align: center;
  margin-bottom: 0;
}

.center {
  text-align: center;
}

.linklike {
  color: #00E;
  cursor: pointer;
}